<div class="modal-header">
    <div>Pop up</div>
    <button type="button" (click)="closeModal()">close</button>
</div>
<div class="modal-body">
    <div>
      <div className="formToUpdate">
        <div className="row-new">
          <div className="">
            <label className="txt">Enter Employee Name:</label>
          </div>
          <div className="">
            <input name="name" className="inputBox" type="text" />
            <div className="err-msg"></div>
          </div>
        </div>
        <div className="row-new">
          <div className="">
            <label className="txt">Role Of Employee:</label>
          </div>
          <div className="">
            <input name="role" className="inputBox" type="text" />
            <div className="err-msg"></div>
          </div>
        </div>
        <div className="row-new">
          <div className="">
            <label className="txt">Joining date:</label>
          </div>
          <div className="">
            <input name="join_data" className="inputBox" type="date" />
            <div className="err-msg"></div>
          </div>
        </div>
        <div className="row-new">
          <div className="">
            <label className="txt">Experience:</label>
          </div>
          <div className="">
            <input name="experience" className="inputBox" type="text" />
            <div className="err-msg"></div>
          </div>
        </div>
        <div className="row-new">
          <div className="">
            <label className="txt">Employee Salary :</label>
          </div>
          <div className="">
            <input name="salary" className="inputBox" type="text" />
            <div className="err-msg"></div>
          </div>
        </div>
        <div className="row-new">
          <div className="">
            <label className="txt">Gender :</label>
          </div>
          <div className="Gender">
            <input type="radio" name="gender" value="male" />
            <div>Male</div>
            &emsp;
    
            <input type="radio" name="gender" value="female" />
            <div>Female</div>
          </div>
          <div className="new-err-msg"></div>
        </div>
        <div className="row-new">
          <div className="">
            <label className="txt">Phone Number :</label>
          </div>
          <div className="">
            <input name="phone_number" className="inputBox" type="number" />
            <div className="err-msg"></div>
          </div>
        </div>
        <div className="row-new">
          <div className="">
            <label className="txt">Enter address:</label>
          </div>
          <div className="">
            <input name="address" className="inputBox" rows="" cols="50" /><br />
            <div className="err-msg"></div>
          </div>
        </div>
        <div className="body-btn">
          <button className="btn btn-primary  update-button">UPDATE</button>
        </div>
      </div>
    </div>
</div>


