<div>
            <div className='main-new'>
                <div className='formToUpdate'>

                    <div className="row-new ">
                        <div className="">
                            <div className='txt'>Employee full Name:</div>
                        </div>
                        <div className="">
                            <input name='name' className='inputBox' type="text" />
                            <div className='err-msg'>
                            </div>
                        </div>
                    </div>

                    <div className="row-new">
                        <div className="">
                            <div className='txt'>Role Of Employee:</div>
                        </div>
                        <div className="">
                            <input name='role' className='inputBox' type="text" />
                            <div className='err-msg'>
                            </div>
                        </div>
                    </div>

                    <div className="row-new">
                        <div className="">
                            <div className='txt'>Joining date:</div>
                        </div>
                        <div className="">
                            <input name='join_data' className='inputBox' type="date" />
                            <div className='err-msg'>
                            </div>
                        </div>
                    </div>

                    <div className="row-new">
                        <div className="">
                            <div className='txt'>Date Of Birth:</div>
                        </div>
                        <div className="">
                            <input name='birth_date' className='inputBox' type="date" />
                            <div className='err-msg'>
                            </div>
                        </div>
                    </div>

                    <div className="row-new">
                        <div className="">
                            <div className='txt'>Experience:</div>
                        </div>
                        <div className="">
                            <input name='experience' className='inputBox' type="text" />
                            <div className='err-msg'>
                            </div>
                        </div>
                    </div>

                    <div className="row-new">
                        <div className="">
                            <div className='txt'>Employee Salary :</div>
                        </div>
                        <div className="">
                            <input name='salary' className='inputBox' type="text" />
                            <div className='err-msg'>
                            </div>
                        </div>
                    </div>

                    <div className="row-new">
                        <div className="">
                            <div className='txt'>Department Name :</div>
                        </div>
                        <div className="">
                            <input name='department' className='inputBox' type="text" />
                            <div className='err-msg'>
                            </div>
                        </div>
                    </div>

                    <div className="row-new">
                        <div className="">
                            <div className='txt'>Gender :</div>
                        </div>
                        <div className="Gender">
                            <input type="radio" name='gender' value='male' />
                            <div>Male</div>&emsp;

                            <input type="radio"  name='gender' value='female'/>
                            <div>Female</div>
                        </div>
                        <div className='new-err-msg'>
                        </div>
                    </div>

                    <div className="row-new">
                        <div className="">
                            <div className='txt'>Marital Status :</div>
                        </div>
                        <div className="Gender">
                            <input type="radio" name='married' value='single' />
                            <div>Single</div>&emsp;

                            <input type="radio" name='married' value='married'/>
                            <div>Married</div>
                        </div>
                        <div className='new-err-msg'>
                        </div>
                    </div>

                    <div className="row-new">
                        <div className="">
                            <div className='txt'>Cell Phone Number :</div>
                        </div>
                        <div className="">
                            <input name='phone' className='inputBox' type="number" />
                            <div className='err-msg'>
                            </div>
                        </div>
                    </div>

                    <div className="row-new">
                        <div className="">
                            <div className='txt'>Home Phone Number :</div>
                        </div>
                        <div className="">
                            <input name='home_phone' className='inputBox' type="number" />
                            <div className='err-msg'>
                            </div>
                        </div>
                    </div>

                    <div className="row-new">
                        <div className="">
                            <div className='txt'>Enter address:</div>
                        </div>
                        <div className="">
                            <input name='address' className='inputBox' rows="" cols="50" /><br />
                            <div className='err-msg'>
                            </div>
                        </div>
                    </div>

                    <div className='body-btn'>
                        <button className='btn btn-primary  update-button'>submit</button>
                    </div>

                </div>
            </div>
</div>