<div>
            <div class='main-newemp'>
                <div class='formToUpdate'>

                    <div class="row-new ">
                        <div class="">
                            <div class='txt'>Employee full Name:</div>
                        </div>
                        <div class="">
                            <input name='name' class='inputBox' type="text" />
                            <div class='err-msg'>
                            </div>
                        </div>
                    </div><br>

                    <div class="row-new">
                        <div class="">
                            <div class='txt'>Role Of Employee:</div>
                        </div>
                        <div class="">
                            <input name='role' class='inputBox' type="text" />
                            <div class='err-msg'>
                            </div>
                        </div>
                    </div><br>

                    <div class="row-new">
                        <div class="">
                            <div class='txt'>Joining date:</div>
                        </div>
                        <div class="">
                            <input name='join_data' class='inputBox' type="date" />
                            <div class='err-msg'>
                            </div>
                        </div>
                    </div><br>

                    <div class="row-new">
                        <div class="">
                            <div class='txt'>Date Of Birth:</div>
                        </div>
                        <div class="">
                            <input name='birth_date' class='inputBox' type="date" />
                            <div class='err-msg'>
                            </div>
                        </div>
                    </div><br>

                    <div class="row-new">
                        <div class="">
                            <div class='txt'>Experience:</div>
                        </div>
                        <div class="">
                            <input name='experience' class='inputBox' type="text" />
                            <div class='err-msg'>
                            </div>
                        </div>
                    </div><br>

                    <div class="row-new">
                        <div class="">
                            <div class='txt'>Employee Salary :</div>
                        </div>
                        <div class="">
                            <input name='salary' class='inputBox' type="text" />
                            <div class='err-msg'>
                            </div>
                        </div>
                    </div><br>

                    <div class="row-new">
                        <div class="">
                            <div class='txt'>Department Name :</div>
                        </div>
                        <div class="">
                            <input name='department' class='inputBox' type="text" />
                            <div class='err-msg'>
                            </div>
                        </div>
                    </div><br>

                    <div class="row-new">
                        <div class="">
                            <div class='txt'>Gender :</div>
                        </div>
                        <div class="Gender">
                            <input type="radio" name='gender' value='male' />
                            <div>Male</div>&emsp;

                            <input type="radio"  name='gender' value='female'/>
                            <div>Female</div>
                        </div>
                        <div class='new-err-msg'>
                        </div>
                    </div><br>

                    <div class="row-new">
                        <div class="">
                            <div class='txt'>Marital Status :</div>
                        </div>
                        <div class="Gender">
                            <input type="radio" name='single' value='single' />
                            <div>Single</div>&emsp;

                            <input type="radio" name='married' value='married'/>
                            <div>Married</div>
                        </div>
                        <div class='new-err-msg'>
                        </div>
                    </div><br>

                    <div class="row-new">
                        <div class="">
                            <div class='txt'>Cell Phone Number :</div>
                        </div>
                        <div class="">
                            <input name='phone' class='inputBox' type="number" />
                            <div class='err-msg'>
                            </div>
                        </div>
                    </div><br>

                    <div class="row-new">
                        <div class="">
                            <div class='txt'>Home Phone Number :</div>
                        </div>
                        <div class="">
                            <input name='home_phone' class='inputBox' type="number" />
                            <div class='err-msg'>
                            </div>
                        </div>
                    </div><br>

                    <div class="row-new">
                        <div class="">
                            <div class='txt'>Enter address:</div>
                        </div>
                        <div class="">
                            <input name='address' class='inputBox' rows="" cols="50" /><br />
                            <div class='err-msg'>
                            </div>
                        </div>
                    </div><br>

                    <div class='btn-new'>
                        <button class='btn btn-primary  update-button'>submit</button>
                    </div>

                </div>
            </div>
</div>