<div class="Emp-dashboard">
  <div class="outer">
    <div class="profile-image ">
        <img src='../../../assets/images/imgfirst.jpg' className='img-style'/>
    </div>

    <div class="emp-info">
      <span>
        <h3>{{ aaa.name }}</h3>
        </span>
      <h5>{{ aaa.role }}</h5>
      <hr />
      <label class="heading">Contact Information</label><br />
      <label class="info">Phone: {{ aaa.phone_number }}</label
      ><br />
      <label class="info">Address: {{ aaa.address }}</label
      ><br />
      <label class="info">Email: -------</label><br />
      <hr />
      <label class="heading">Basic Information</label><br />
      <label class="info">Gender: {{ aaa.gender }}</label
      ><br />
      <label class="info">Birth Date: ----------</label><br />
      <hr />
      <label class="heading">Skills</label><br />
      <label class="info">HTML</label><br />
      <label class="info">CSS</label><br />
      <label class="info">Javascript</label><br />
    </div>
  </div>
  <hr />
</div>
